apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: pgadmin-application-set
  namespace: argocd
spec:
  template:
    metadata:
      name: '{{cluster}}-pgadmin'
    spec:
      source:
        repoURL: https://cetic.github.io/helm-charts
        targetRevision: 0.1.12
        chart: pgadmin
        helm:
          parameters:
            - name: pgadmin.username
              value: 'admin@admin.com'
            - name: persistence.enabled
              value: 'false'